* {
  box-sizing: border-box;
}

div {
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  display: grid;
  width: 50%;
  border: 2px solid black;
}

button {
  margin: auto;
  width: 25%;
}

h3,
p,
img {
  margin: auto;
  padding: 5px;
}

form {
  display: grid;
  width: 75%;
  margin: auto;
}
